.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* background-color: #FF0D0D; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.proton {
  color: #3122bb;
}

.electron {
  color: #fd0000;
}

.neutron {
  color: #164624;
}

p {
  margin-left: 100px;
}

h3 {
  text-align: center;
}

.home {
  /* padding: 0px 10px; */
  margin-left: 100px;
  word-wrap: normal;
  display: inline;
}

.intro {
  /* padding: 0px 10px; */
  margin-left: 100px;
  word-wrap: normal;
  display: inline;
}

.users {
  /* padding: 0px 10px; */
  margin-left: 100px;
  word-wrap: normal;
  display: inline;
}

.auth {
  /* text-align: left; */
  margin-left: 100px;
  word-wrap: normal;
  display: inline;
}

.logout {
  /* text-align: left; */
  /* margin-left: 700px; */
  margin-left: 100px;
  word-wrap: normal;
  display: inline;
}
.nav {
  background-color: lavenderblush;
}

.button {
  position: relative;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 1.5rem;
  width: max-content;
  color: black;
  /* font-size: 6px; */
  justify-self: center;
  /* font-family: 'Segoe UI'; */
  margin: 3px;
}

.button:hover {
  /* background-color: whitesmoke; */
  border: gray solid 1px;
  color: gray;
}
/* 243470 */